{% load static %}
<header class="u-align-right u-clearfix u-gradient u-header u-header" id="sec-92d8">
    <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-xs u-sheet-1">
        <a href="{% url 'landing page' %}" class="u-hidden-xs u-image u-logo u-image-1" data-image-width="1183"
           data-image-height="1280">
            <img src="{% static 'icons/logo.png' %}" class="u-logo-image u-logo-image-1">
        </a>
        <h1 class="u-align-center-sm u-align-center-xs u-text u-text-custom-color-1 u-text-1"> Добре дошли в домашния
            кулинарен ​рецептурник</h1>

    </div>
</header>
