.cust-center {
    text-align: center;
    display:inline-block;
    margin:0 auto;
}

.label-color {
  color: red;
}

.img-preview {
    max-height: 128px;
}

 .u-section-1 {
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 657px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-1 .u-image-1 {
  background-position: 50% 50%;
  min-height: 575px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 20px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  margin: 9px 40px 0;
}

.u-section-1 .u-form-1 {
  height: 424px;
  width: 715px;
  background-image: none;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 41px auto 0;
}

.u-section-1 .u-label-1 {
  letter-spacing: 0px;
}

.u-section-1 .u-label-2 {
  letter-spacing: 0px;
}

.u-section-1 .u-label-3 {
  letter-spacing: 0px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 623px;
  }

  .u-section-1 .u-image-1 {
    min-height: 541px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 615px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 8px;
  }

  .u-section-1 .u-image-1 {
    min-height: 414px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-form-1 {
    width: 680px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 607px;
  }

  .u-section-1 .u-image-1 {
    min-height: 311px;
  }

  .u-section-1 .u-form-1 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 596px;
  }

  .u-section-1 .u-image-1 {
    min-height: 514px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 4px;
  }

  .u-section-1 .u-form-1 {
    width: 320px;
    margin-top: 18px;
  }
}